 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 261px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 261px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 0 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 261px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 80px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 215px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 215px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -170px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-right: -67px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 181px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 5px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -288px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 22px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -503px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .u-image-1 {
  min-height: 540px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/hse1.webp');
  background-size: cover, cover;
  --radius: 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 21px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 102px 9px 0;
}

.u-section-2 .u-list-1 {
  width: 900px;
  margin: 99px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 24px));
  min-height: 221px;
  grid-gap: 32px;
}

.u-section-2 .u-list-item-1 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 27px auto 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: none;
  margin: 28px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 27px auto 0;
}

.u-section-2 .u-text-5 {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: none;
  margin: 28px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 27px auto 0;
}

.u-section-2 .u-text-7 {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: none;
  margin: 28px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 27px auto 0;
}

.u-section-2 .u-text-9 {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: none;
  margin: 28px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 898px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    min-height: 630px;
    width: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 26px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
    min-height: 350px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 14px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 14px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 14px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 16px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(249, 240, 248, 0.5), rgba(249, 240, 248, 0.5));
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 818px;
}

.u-section-3 .u-group-1 {
  --radius: 20px;
  min-height: 106px;
  margin-top: 40px;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 500;
  margin: 2px 82px 0;
}

.u-section-3 .u-list-1 {
  margin-top: 10px;
  margin-bottom: -174px;
  margin-right: 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 375px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 60px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 10px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-list-icon-1 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-2 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-3 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-4 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-item-2 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 60px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 10px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-list-icon-5 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-6 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-7 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-8 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-item-3 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 60px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 10px 0 0;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-list-icon-9 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-9 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-9 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-9 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-item-4 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-11 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 60px 0 0;
}

.u-section-3 .u-text-12 {
  margin: 10px 0 0;
}

.u-section-3 .u-text-13 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-list-icon-13 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-13 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-13 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-13 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-13 {
  color: rgb(33, 150, 243) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -116px;
    margin-right: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 310px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1306px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -76px;
    margin-right: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 40px;
    margin-right: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.25rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 680px;
}

.u-section-4 .u-image-1 {
  min-height: 600px;
  margin-top: 40px;
  margin-bottom: 40px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/qc.webp');
  background-size: cover, cover;
  width: 100%;
  --radius: 20px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 200px 0 0;
}

.u-section-4 .u-list-1 {
  margin: 60px 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 21.3333px));
  min-height: 221px;
  grid-auto-columns: calc(33.3333% - 21.3333px);
  grid-gap: 32px;
}

.u-section-4 .u-list-item-1 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 27px auto 0;
}

.u-section-4 .u-text-3 {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: none;
  margin: 28px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 27px auto 0;
}

.u-section-4 .u-text-5 {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: none;
  margin: 28px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 27px auto 0;
}

.u-section-4 .u-text-7 {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: none;
  margin: 28px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: auto;
    width: auto;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 21.3333px));
    grid-auto-columns: calc(33.333333333333336% - 21.3333px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15.999975000000001px));
    min-height: -189px;
    grid-auto-columns: calc(50% - 15.999975000000001px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 619px;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-4 .u-list-1 {
    width: 443px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
    grid-auto-columns: calc(50% - 16px);
    min-height: 419px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-4 .u-image-1 {
    min-height: 596px;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 417px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 14px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 2px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 14px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 2px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 14px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 2px;
  }
} .u-section-5 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(249, 240, 248, 0.5), rgba(249, 240, 248, 0.5));
  background-size: cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 818px;
}

.u-section-5 .u-group-1 {
  --radius: 20px;
  min-height: 106px;
  margin-top: 40px;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 500;
  margin: 2px 82px 0;
}

.u-section-5 .u-list-1 {
  margin-top: 10px;
  margin-bottom: -174px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 375px;
  grid-gap: 10px;
}

.u-section-5 .u-list-item-1 {
  --radius: 20px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 60px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 10px 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(33, 150, 243) !important;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(33, 150, 243) !important;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(33, 150, 243) !important;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(33, 150, 243) !important;
}

.u-section-5 .u-list-item-2 {
  --radius: 20px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 60px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 10px 0 0;
}

.u-section-5 .u-text-7 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-icon-5 {
  color: rgb(33, 150, 243) !important;
}

.u-section-5 .u-list-icon-5 {
  color: rgb(33, 150, 243) !important;
}

.u-section-5 .u-list-icon-5 {
  color: rgb(33, 150, 243) !important;
}

.u-section-5 .u-list-icon-5 {
  color: rgb(33, 150, 243) !important;
}

.u-section-5 .u-list-item-3 {
  --radius: 20px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 60px 0 0;
}

.u-section-5 .u-text-9 {
  margin: 10px 0 0;
}

.u-section-5 .u-text-10 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-icon-9 {
  color: rgb(33, 150, 243) !important;
}

.u-section-5 .u-list-icon-9 {
  color: rgb(33, 150, 243) !important;
}

.u-section-5 .u-list-icon-9 {
  color: rgb(33, 150, 243) !important;
}

.u-section-5 .u-list-icon-9 {
  color: rgb(33, 150, 243) !important;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -145px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 310px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -105px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 40px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.25rem;
  }
}