.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-bottom: -9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 21px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(241, 241, 241, 0.5), rgba(241, 241, 241, 0.5));
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 1331px;
}

.u-section-2 .u-text-1 {
  font-weight: 100;
  font-size: 1.125rem;
  margin: 34px 436px 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 34px;
  margin-bottom: 53px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 12.75px));
  min-height: 1190px;
  grid-auto-columns: calc(25% - 12.75px);
  grid-gap: 17px;
}

.u-section-2 .u-list-item-1 {
  --bottom-right-radius: 20px;
  --bottom-left-radius: 20px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 20px;
}

.u-section-2 .u-image-1 {
  height: 256px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 500;
  text-transform: none;
  margin: 34px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 10px 21px 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  margin: 25px auto 0 21px;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  --bottom-right-radius: 20px;
  --bottom-left-radius: 20px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 20px;
}

.u-section-2 .u-image-2 {
  height: 256px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 500;
  text-transform: none;
  margin: 34px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 10px 21px 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  margin: 25px auto 0 21px;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  --bottom-right-radius: 20px;
  --bottom-left-radius: 20px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 20px;
}

.u-section-2 .u-image-3 {
  height: 256px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 500;
  text-transform: none;
  margin: 34px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 10px 21px 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  margin: 25px auto 0 21px;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  --bottom-right-radius: 20px;
  --bottom-left-radius: 20px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 20px;
}

.u-section-2 .u-image-4 {
  height: 256px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 500;
  text-transform: none;
  margin: 34px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 10px 21px 0;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  margin: 25px auto 0 21px;
  padding: 0;
}

.u-section-2 .u-list-item-5 {
  --bottom-right-radius: 20px;
  --bottom-left-radius: 20px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 20px;
}

.u-section-2 .u-image-5 {
  height: 256px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 500;
  text-transform: none;
  margin: 34px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 10px 21px 0;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  margin: 25px auto 0 21px;
  padding: 0;
}

.u-section-2 .u-list-item-6 {
  --bottom-right-radius: 20px;
  --bottom-left-radius: 20px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 20px;
}

.u-section-2 .u-image-6 {
  height: 256px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-12 {
  font-weight: 500;
  text-transform: none;
  margin: 34px 0 0;
}

.u-section-2 .u-text-13 {
  margin: 10px 21px 0;
}

.u-section-2 .u-btn-6 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  margin: 25px auto 0 21px;
  padding: 0;
}

.u-section-2 .u-list-item-7 {
  --bottom-right-radius: 20px;
  --bottom-left-radius: 20px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 20px;
}

.u-section-2 .u-image-7 {
  height: 256px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-14 {
  font-weight: 500;
  text-transform: none;
  margin: 34px 0 0;
}

.u-section-2 .u-text-15 {
  margin: 10px 21px 0;
}

.u-section-2 .u-btn-7 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  margin: 25px auto 0 21px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 236px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 975px;
  }

  .u-section-2 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-1 {
    height: 212px;
    --top-left-radius: 20px;
    --top-right-radius: 20px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 15px;
    margin-left: 15px;
  }

  .u-section-2 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-2 {
    height: 212px;
    --top-left-radius: 20px;
    --top-right-radius: 20px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 15px;
    margin-left: 15px;
  }

  .u-section-2 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-3 {
    height: 212px;
    --top-left-radius: 20px;
    --top-right-radius: 20px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 15px;
    margin-left: 15px;
  }

  .u-section-2 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-4 {
    height: 212px;
    --top-left-radius: 20px;
    --top-right-radius: 20px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 15px;
    margin-left: 15px;
  }

  .u-section-2 .u-list-item-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-5 {
    height: 212px;
    --top-left-radius: 20px;
    --top-right-radius: 20px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 15px;
    margin-left: 15px;
  }

  .u-section-2 .u-list-item-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-6 {
    height: 212px;
    --top-left-radius: 20px;
    --top-right-radius: 20px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 15px;
    margin-left: 15px;
  }

  .u-section-2 .u-list-item-7 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-7 {
    height: 212px;
    --top-left-radius: 20px;
    --top-right-radius: 20px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 15px;
    margin-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2505px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8.5px));
    min-height: 2364px;
    grid-auto-columns: calc(50% - 8.5px);
  }

  .u-section-2 .u-image-1 {
    height: 325px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 7px;
    margin-right: 2px;
    margin-left: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 325px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 7px;
    margin-right: 2px;
    margin-left: 20px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 325px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 7px;
    margin-right: 2px;
    margin-left: 20px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 325px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 7px;
    margin-right: 2px;
    margin-left: 20px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 325px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 7px;
    margin-right: 2px;
    margin-left: 20px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-6 {
    height: 325px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 7px;
    margin-right: 2px;
    margin-left: 20px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-7 {
    height: 325px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-15 {
    margin-top: 7px;
    margin-right: 2px;
    margin-left: 20px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3422px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 54px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 3281px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-2 .u-image-1 {
    height: 239px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 9px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 239px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 18px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 9px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 239px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 18px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 9px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 239px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 18px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 9px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 30px;
  }

  .u-section-2 .u-image-5 {
    height: 239px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 18px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 9px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 30px;
  }

  .u-section-2 .u-image-6 {
    height: 239px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 18px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 9px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 30px;
  }

  .u-section-2 .u-image-7 {
    height: 239px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 18px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-15 {
    margin-top: 9px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2425px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 35px;
    margin-bottom: 43px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 235px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 8px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 15px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    height: 235px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 8px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 15px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    height: 235px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 8px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 15px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    height: 235px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 8px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 15px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-5 {
    height: 235px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 8px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 15px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-6 {
    height: 235px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-top: 8px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 15px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-7 {
    height: 235px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-top: 8px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 15px;
  }
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-list-item-5,
.u-section-2 .u-list-item-5:before,
.u-section-2 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-list-item-6,
.u-section-2 .u-list-item-6:before,
.u-section-2 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-list-item-7,
.u-section-2 .u-list-item-7:before,
.u-section-2 .u-list-item-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-7.u-list-item-7.u-list-item-7:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-list-item-7.u-list-item-7.u-list-item-7.hover {
  transform: translateX(0px) translateY(-5px) !important;
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(241, 241, 241, 1), rgba(241, 241, 241, 1));
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 142px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 142px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.875rem;
  transition-duration: 0.5s;
  font-weight: 400;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 142px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 117px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 86px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-block-4526-6:not([data-block-selected]):not([data-cell-selected]),
.u-block-4526-6:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-4526-6:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-4526-8:not([data-block-selected]):not([data-cell-selected]),
.u-block-4526-8:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-4526-8:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-4526-8:not([data-block-selected]):not([data-cell-selected]).u-block-4526-8:not([data-block-selected]):not([data-cell-selected]).u-block-4526-8:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #ffffff !important;
}

.u-block-4526-11:not([data-block-selected]):not([data-cell-selected]),
.u-block-4526-11:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-4526-11:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-4526-11:not([data-block-selected]):not([data-cell-selected]).u-block-4526-11:not([data-block-selected]):not([data-cell-selected]).u-block-4526-11:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #ffffff !important;
}

.u-block-4526-34,
.u-block-4526-34:before,
.u-block-4526-34 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-1 {
  color: #84277f !important;
}

.u-container-layout.hover > .u-section-3 .u-text-1 {
  color: #84277f !important;
} .u-section-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(241, 241, 241, 1), rgba(241, 241, 241, 1));
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 409px;
}

.u-section-4 .u-list-1 {
  margin-bottom: 0;
  margin-top: 10px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 359px;
  grid-gap: 10px;
}

.u-section-4 .u-list-item-1 {
  --radius: 20px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 4px 0 0;
}

.u-section-4 .u-group-1 {
  --radius: 15px;
  min-height: 70px;
  width: 327px;
  height: auto;
  margin: 13px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-4 .u-icon-1 {
  margin-right: 10px;
}

.u-section-4 .u-group-2 {
  --radius: 15px;
  min-height: 70px;
  width: 327px;
  height: auto;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-icon-2 {
  margin-right: 10px;
}

.u-section-4 .u-group-3 {
  --radius: 15px;
  min-height: 70px;
  width: 327px;
  height: auto;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-4 .u-icon-3 {
  margin-right: 10px;
}

.u-section-4 .u-list-item-2 {
  --radius: 20px;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px;
}

.u-section-4 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 4px 0 0;
}

.u-section-4 .u-group-4 {
  --radius: 15px;
  min-height: 70px;
  width: 327px;
  height: auto;
  margin: 13px auto 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-4 .u-icon-4 {
  margin-right: 10px;
}

.u-section-4 .u-group-5 {
  --radius: 15px;
  min-height: 70px;
  width: 327px;
  height: auto;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-icon-5 {
  margin-right: 10px;
}

.u-section-4 .u-group-6 {
  --radius: 15px;
  min-height: 70px;
  width: 327px;
  height: auto;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-4 .u-icon-6 {
  margin-right: 10px;
}

.u-section-4 .u-list-item-3 {
  --radius: 20px;
}

.u-section-4 .u-container-layout-9 {
  padding: 20px;
}

.u-section-4 .u-text-9 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 4px 0 0;
}

.u-section-4 .u-group-7 {
  --radius: 15px;
  min-height: 70px;
  width: 327px;
  height: auto;
  margin: 13px auto 0 0;
}

.u-section-4 .u-container-layout-10 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-10 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-4 .u-icon-7 {
  margin-right: 10px;
}

.u-section-4 .u-group-8 {
  --radius: 15px;
  min-height: 70px;
  width: 327px;
  height: auto;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-11 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-11 {
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-icon-8 {
  margin-right: 10px;
}

.u-section-4 .u-group-9 {
  --radius: 15px;
  min-height: 70px;
  width: 327px;
  height: auto;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-12 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-12 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-4 .u-icon-9 {
  margin-right: 10px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  margin: 20px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-bottom: 3px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 295px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-group-1 {
    width: 270px;
    margin-right: 15px;
    margin-left: 20px;
    height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-4 .u-group-2 {
    width: 265px;
    min-height: 71px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-left: 10px;
  }

  .u-section-4 .u-group-3 {
    width: 265px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 10px;
    margin-left: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-group-4 {
    width: 270px;
    margin-right: 15px;
    margin-left: 20px;
    height: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 19px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-4 .u-group-5 {
    min-height: 80px;
    width: 265px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 19px;
    margin-left: 10px;
  }

  .u-section-4 .u-group-6 {
    width: 265px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-group-7 {
    width: 270px;
    margin-right: 15px;
    margin-left: 20px;
    height: auto;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 19px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-4 .u-group-8 {
    min-height: 71px;
    width: 265px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 19px;
    margin-left: 10px;
  }

  .u-section-4 .u-group-9 {
    width: 265px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    margin-bottom: 30px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 693px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 304px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-group-2 {
    width: 304px;
    min-height: 70px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-group-3 {
    width: 304px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-4 {
    width: 304px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-group-5 {
    min-height: 70px;
    width: 304px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-4 .u-group-6 {
    width: 304px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-9 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-7 {
    width: 304px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-10 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-group-8 {
    min-height: 70px;
    width: 304px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-11 {
    padding-bottom: 0;
  }

  .u-section-4 .u-group-9 {
    width: 304px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 1024px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-group-1 {
    width: 300px;
    margin-top: 15px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 21px;
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-4 .u-group-2 {
    width: 300px;
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 1px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-4 .u-group-3 {
    width: 300px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-4 .u-group-4 {
    width: 300px;
    margin-top: 15px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 21px;
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-4 .u-group-5 {
    width: 300px;
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding: 20px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 1px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-4 .u-group-6 {
    width: 300px;
  }

  .u-section-4 .u-container-layout-8 {
    padding: 20px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }

  .u-section-4 .u-group-7 {
    width: 300px;
    margin-top: 15px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 21px;
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-4 .u-group-8 {
    width: 300px;
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-11 {
    padding: 20px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 1px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-4 .u-group-9 {
    width: 300px;
  }

  .u-section-4 .u-container-layout-12 {
    padding: 20px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 272px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 12px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 232px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 29px 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 500;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  --radius: 20px;
  margin: 20px 1px 0;
  padding: 7px 20px 7px 19px;
}

.u-section-5 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 232px;
  --radius: 20px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-5 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-5 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 45px;
    --radius: 20px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-5 .u-btn-1 {
    border-style: solid;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 191px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 247px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}